<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics Dashboard</title>
</head>
<body>
    <h1>Analytics Dashboard</h1>
    <!-- <img src="{{ url_for('corrheatmap') }}" alt="correlation heatmap">
    <img src="{{ url_for('income') }}" alt="income"> -->
    <!-- <img src="{{ url_for('corrdict') }}" alt="correlation dict"> -->
    <!-- <img src="{{ url_for('genderattrition') }}" alt="gender attrition"> -->
    <img src="{{ url_for('relstatusattrition') }}" alt="relstatusattrition">
</body>
</html>